*{
    margin: 0;
    padding: 0;
}

.header-left img{
    height:35px;
    margin-left: 5px;
    object-fit: contain;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    padding: 5px;
    border: none;
    background-color: #F6F8FC;
}

.header-left{
    display: flex;
    align-items: center;
}
.header-left span{
    padding: 10px;
    cursor: pointer;
}
.header-left span:hover{
    border-radius: 50%;
    background-color:#E8EAED;
}

.header-middle{
    display: flex;
    position: relative;
    flex: 0.8;
    right: 20px;
    align-items: center;
    background-color: #EAF1FB;
    margin:10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
}
.header-middle span:hover{
    border-radius: 60%;
    background-color: #E8EAED;
}
.material-icons{
    color: rgba(0, 0, 0, 0.587);
}
.material-icons:hover{
    border-radius: 50%;
    background-color: #E8EAED;
}
.header-middle input{
    border: none;
    width:100%;
    padding: 10px;
    outline: none;
    font-size: medium;
    background-color: transparent;
}
.header-right{
    display: flex;
    padding: 5px;
    margin: 10px;
}
.header-right span{
    padding: 10px;
    cursor: pointer;
}
.header-right span:hover{
    border-radius: 50%;
    background-color:#E8EAED;
}

.sidebar{
    flex:0.3;
    max-width:250px;
    padding-right: 20px;
    background-color: #F6F8FC;
}
.sidebar-compose{
    margin-left: 10px;
    margin-bottom: 12px;
    text-transform: capitalize;
    color:black;
    background-color: #C2E7FF;
    padding: 13px;
    border-radius: 15px;
    width:150px;
    display: flex;
    align-items: center;
    cursor: pointer;
    outline: none;
    border: none;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
}
.sidebar-compose:hover{
    box-shadow: 0 1px 2px 0 #0000, 0 1px 3px 1px #ba7df39e;
}
.sidebar-compose span{
    padding-right:18px;
}
.sidebar-option{
    display: flex;
    align-items: center;
    height:40px;
    padding: 0 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}
.sidebar-option .material-icons{
    padding: 5px;
    margin: 10px;
}
.sidebar-option h3{
    flex: 1;
    margin-left: 10px;
    font-size: 14px;
    font-weight: 400;
}
.sidebar-option_active
{
    background-color: #C2E7FF;
}
.sidebar-option:hover{
    background-color:#E8EAED;;
}

.sidebar-footer{
    display: flex;
    padding-top: 15px;
}
.sidebar-footerIcons h3{
    margin-left: 15px;
    padding-top:5px ;
    font-size: 15px;
    font-weight: 600;
    color: #1f1f1f;
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
.sidebar-footerIcons span{
    position: relative;
    left:200px;
    bottom:22px;
}
.main-body{
    display: flex;
    height: 100vh;
    width: 100vw;
}
.body{
    height: 100vh;
    overflow-y: hidden;
}
.emailist{
    flex: 1;
    overflow: scroll;
}
.emaillist-settings{
    position: sticky;
    display: flex;
    top: 0;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    background-color: white;
    z-index: 999;
    padding: 8px;
}
.emaillist-settingsLeft{
    display: flex;
    align-items: center;
}
.emaillist-settingsRight{
    position: relative;
    left:500px;
}
.emaillist-settings .material-icons{
    margin: 5px;
    cursor:pointer;
}
.emailrow-options{
    display: flex;
    align-items: center;
}

.emailrow-options .material-icons, input{
    margin: 5px;
}

.emailrow{
    display: flex;
    align-items: center;
    height: 50px;
    width: 160%;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999;
}
.emailrow:hover{
    border-top: 1px solid whitesmoke;
    box-shadow: 0  4px 4px -2px rgba(0, 0, 0, 0.24);
}
.emailrow-message{
    display: flex;
    flex: 0.8;
    align-items: center;
    font-size: 13px;
}
.emailrow-message h4{
    width:400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
}
.emailrow-title{
    font-size: 15px;
    flex:0.2;
}
.emailrow-description{
    font-weight: 400;
    color: grey;
}
.emailrow-time{
    padding-right: 15px;
    font-size: 10px;
    font-weight: bold;
}
