@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0; 
}

.material-icons{
    color:rgba(245, 245, 245, 0.767);
}


.header-left img{
    object-fit: contain;
    height: 40px;
    margin-left: 5px;
}

.header{
    display: flex;
    align-items: center;
    color: whitesmoke;
    justify-content: space-between;
    background-color: #18191B;
    height: 45px;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left span{
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bolder;
}

.header-search{  
    padding: 5px;
    width:270px;
    height:20px;
    display: flex; 
    background-color: rgb(61,63,67);
    border-radius: 5px;
    margin-right: 20px;
}
.header-search span{
    display: flex;
    margin-left: 5px;
}
.header-search input{
    display: flex;   
    padding: 6px;
    background-color: inherit;
    border: none;
}
.header-icons{
    display: flex;
    gap:12px; 
}
.header-icons .material-icons{
    font-size: 20px;
    padding: 3px;
}

.header-right{
    display: flex;
    padding: 10px;

}
.header-corner{
    background-color: #242628;
    position: relative;
    right: 180px;
    padding: 14px;
    padding-top: 5px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 5px;
    width:90px;
    height:20px;
}
.header-corner::after{
    display: block;
    content:" ";
    position: absolute;
    transform:skewX(30deg);
    -ms-transform:skewX(30deg);
    -webkit-transform:skewX(30deg);
    background-color:#242628;
    background:#242628;
    height: 30px;
    top: 4px;
    border-bottom: none;
    border-left: none;
    width: 20px;
    right: -9px;
}
.sup-head span{
    padding: 2px;
    font-size: 11px;
}
.sup-head button{
    width:15px;
    height:15px;
    border-style: none;
}
.sup-head a{
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
}
.sub-head h5{
    position: relative;
    left: 10px;
    font-size: 15px;
    color: #BCBEC2;
}
.sidebar{
    gap: 12px;
    height:100vh;
    display: flex;
    padding: 5px;
    background-color: #18191B;
}

.sidebar-left button{
    display: flex;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 4px;
    border-style: none;
}

.mail{
    background-color: #2778CC;
}
.calendar{
    background-color: #8F55CC;
}
.task{
    background-color: #1B8855;
}
.notes{
    background-color:#B36F47 ;
}
.contacts{
    background-color: #B35C44;
}
.bookmarks{
    background-color:#CC3D55;
}

.sidebar-left{
    display: flex;
    flex-direction: column;
    list-style: none;
    cursor: pointer;
    margin: 5px 0 0;
    padding: 5px 0;
    position: relative;
    align-items: center;
    row-gap: 10px;
}

.sidebar-left span{
    padding: 4px;
    font-size: 17px;
    
}
.sidebar-left a{
    text-decoration: none;
    color: rgba(240, 248, 255, 0.767);
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    white-space: nowrap;
}
.sidebar-left a:hover{
    color: whitesmoke;
}
.sidebar-right{
    margin: 2px;
    display:flex;
    flex-direction: column;
    list-style: none;
    font-size: 14px;
    padding-right: 15px;
}

.sidebar-compose{
    border-radius: 5px;
    width: 170px;
    height: 33px;
    align-items: center;
    display: flex;
    background-color: #1849DA;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    justify-content: space-evenly;
}
.sidebar-compose span{
    background-color: #1849DA;
}

.sidebar-streams{
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-right: 10px;
}

.sidebar-streams a:hover{
    background-color:#2D2F33;
}

.sidebar-streams h3{
    color: #1849DA;
    font-weight: bold;
    margin: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.sidebar-streams a{
    color: whitesmoke;
    text-decoration: none;
    display: block;
    margin: 12px;
    text-indent: 10px;
}


.sidebar-folders{
    margin-top: -13px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-right: 10px;
    
}
.sidebar-folders h3{
    color: #1849DA;
    font-weight: bold;
    margin: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.sidebar-folders a{
    color: whitesmoke;
    text-decoration: none;
    display: block;
    margin: 12px;
    text-indent: 10px;
}
.sidebar-folders a:hover{
    background-color: #2D2F33;
}

.sidebar-tags{
    margin-top:-13px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-right: 10px;
    
 
}
.sidebar-tags h3{
    color: #1849DA;
    font-weight: bold;
    margin: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.sidebar-tags a{
    color: whitesmoke;
    text-decoration: none;
    display: block;
    margin: 12px;
    text-indent: 8px;
}
.sidebar-tags a:hover{
    background-color: #2D2F33;
}

.main-body{
    height: 100vh;
    display: flex;
}

body{
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

.zmaillist{
    flex: 1;
    overflow: scroll;
    padding: 5px;
    background-color: #242628;
}

.zmaillist-settings{
    position:sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2px solid rgb(79, 77, 77);
    z-index: 999;
    padding: 5px;
}

.zmaillist-settingsLeft{
    display:flex;
    align-items: center;
}
.zmaillist-settings .material-icons{
    margin: 5px;
    cursor: pointer;
    font-size: 18px;
    color: #BCBEC2;
    
}
.zmaillist-settingsLeft a{
    color: #BCBEC2;
    text-decoration: none;
}

.zmaillist-section{
    color: #BCBEC2;
    margin-top: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight:lighter;
    height: 15px;
    background-color: #2D2F33;
}
.zmaillist-section h4{
    background-color: #2D2F33;
}
.zmailRow-options{
    display: flex;
    align-items: center;

}

.zmailRow-options .material-icons, input{
    margin: 5px;
    font-size: 15px;
}

.zmailRow{
    display: flex;
    flex-direction: column;
    height: 65px;
    border-bottom: 0.4px solid rgb(79, 77, 77);
    cursor: pointer;
    z-index: 999;
    color:#BCBEC2;
    font-weight:lighter;
}
.zmailRow:hover{
    background-color: #2D2F33;

    transition: transform 0.5s ease-in-out;
}


.zmailRow-message{
    display: flex;
    flex: 0.8;
    text-align: center;
    font-size: 15px;
    justify-content: space-between;
    position: relative;
    bottom: 30px;
    padding-top: 10px;
}

.zmailRow-message h4{
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}

.zmailRow-title{
    font-size: 15px;
    flex: 0.3;
    text-indent: 87px;
    position: relative;
    bottom: 25px;
}

.zmailRow-time{
    display: flex;
    text-align: right;
    justify-content: end;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: bold;
}



