@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
*{
    margin: 0;
    padding: 0;
   
}

.material-icons{
    color:rgba(245, 245, 245, 0.767);
}


.header-left img{
    object-fit: contain;
    height: 40px;
    margin-left: 5px;
}

.header{
    display: flex;
    align-items: center;
    color: whitesmoke;
    justify-content: space-between;
    background-color: #18191B;
    height: 50px;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left span{
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bolder;
}

.header-search{  
    padding: 10px;
    display: flex; 
}
.header-search span{
    display: flex;
}
.header-search input{
    display: flex;   
}
.header-search .icons{
     padding: 15px;
}

.header-right{
    display: flex;
    padding: 10px;
    
}

.sidebar{
    gap: 12px;
    height:100vh;
    display: flex;
    padding: 10px;
    background-color: #18191B;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.sidebar-left button{
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    border-radius: 5px;
}

.mail{
    background-color: #2778CC;
}
.calendar{
    background-color: #8F55CC;
}
.task{
    background-color: #1B8855;
}
.notes{
    background-color:#B36F47 ;
}
.contacts{
    background-color: #B35C44;
}
.bookmarks{
    background-color:#CC3D55;
}

.sidebar-left{
    display: flex;
    flex-direction: column;
    list-style: none;
    cursor: pointer;
    margin: 5px 0 0;
    padding: 10px 0;
    position: relative;
    align-items: center;
    row-gap: 10px;
}

.sidebar-left span{
    padding: 4px;
    font-size: 18px;
    
}
.sidebar-left a{
    text-decoration: none;
    color: aliceblue;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    white-space: nowrap;
}

.sidebar-right{
    margin: 2px;
    display:flex;
    flex-direction: column;
    list-style: none;
    font-size: 15px;
    padding-right: 15px;
}

.sidebar-compose{
    border-radius: 5px;
    width: 170px;
    height: 40px;
    align-items: center;
    display: flex;
    background-color: #1849DA;
    color: white;
    padding: 10px;
    font-size: 15px;
    border: none;
    justify-content: space-evenly;
}
.sidebar-compose span{
    background-color: #1849DA;
}

.sidebar-streams{
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-right: 10px;
}

.sidebar-streams h3{
    color: #1849DA;
    font-weight: bold;
    margin: 15px;
}

.sidebar-streams a{
    color: whitesmoke;
    text-decoration: none;
    display: block;
    margin: 15px;
}

.sidebar-folders{
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-right: 10px;
    
}
.sidebar-folders h3{
    color: #1849DA;
    font-weight: bold;
    margin: 15px;
}

.sidebar-folders a{
    color: whitesmoke;
    text-decoration: none;
    display: block;
    margin: 15px;
}

.sidebar-tags{
    margin-top: 2px;
    margin-bottom: 2px;
    padding-top: 2px;
    padding-right: 10px;
    
 
}
.sidebar-tags h3{
    color: #1849DA;
    font-weight: bold;
    margin: 15px;
}

.sidebar-tags a{
    color: whitesmoke;
    text-decoration: none;
    display: block;
    margin: 15px;
}
.main-body{
    height: 100vh;
    display: flex;
}

body{
    height: 100vh;
    overflow-y: hidden;
    font-family: 'Source Sans Pro', sans-serif;
}

.zmaillist{
    flex: 1;
    overflow: scroll;
    padding: 8px;
    background-color: #242628;
}

.zmaillist-settings{
    position:sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.2px solid rgb(79, 77, 77);
    z-index: 999;
    padding: 8px;
}

.zmaillist-settingsLeft{
    display:flex;
    align-items: center;
}
.zmaillist-settings .material-icons{
    margin: 5px;
    cursor: pointer;
}

.zmaillist-section{
    color: #BCBEC2;
    margin-top: 5px;
    padding: 12px;
    font-size: 16px;
    background-color: #2D2F33;
}
.zmaillist-section h4{
    background-color: #2D2F33;
}
.zmailRow-options{
    display: flex;
    align-items: center;
}

.zmailRow-options .material-icons, input{
    margin: 5px;
}

.zmailRow{
    display: flex;
    flex-direction: column;
    height: 65px;
    border-bottom: 0.4px solid rgb(79, 77, 77);
    cursor: pointer;
    z-index: 999;
    color:rgba(244, 239, 239, 0.68);

}
.zmailRow:hover{
    background-color: #1b1b1c9d;
}


.zmailRow-message{
    display: flex;
    flex: 0.8;
    text-align: center;
    font-size: 15px;
    justify-content: space-between;
    position: relative;
    bottom: 30px;
    padding-top: 10px;
}

.zmailRow-message h4{
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
}

.zmailRow-title{
    font-size: 15px;
    flex: 0.3;
    text-indent: 86px;
    position: relative;
    bottom: 25px;
}

.zmailRow-time{
    display: flex;
    text-align: right;
    justify-content: end;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: bold;
}



